.cards {
  display: flex;
  flex-direction: column;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  letter-spacing: 0%;
}
.card {
  position: relative;
  width: 323px;
  display: flex;
  justify-content: center;
  border-color: 1px #0000004d;
  background: transparent;
  overflow: hidden;
  object-fit: cover;
  object-position: right;
  border: 1px solid #0000004d;
  border-radius: 20px;
}

.card__name {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  padding: 2px 12px;
  background: #ffffff;
  border-radius: 4px;
  color: #00000099;
  position: absolute;
  top: 15px;
  align-items: center;
}

.card__img {
  width: 100%;
}

.cards__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.cards__text {
  font-size: 20px;
  line-height: 100%;
  color: #000000;
  margin: 40px 0px 34px;
}

.card__like-button {
  /* background-image: url("../images/union.svg"); */
  background-color: transparent;
  padding: 0;
  border: none;
  width: 20px;
  height: 18px;
  cursor: pointer;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.4;
  position: absolute;
  top: 15px;
  right: 40px;
}
.card__like-button:hover {
  transition: 1.3s;
  opacity: 1;
}
.card__like-button_liked {
  /* background-image: url("../images/liked.svg"); */

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
}
.card__like-button_liked:hover {
  opacity: 0.4;
}