.my-profile {
  display: flex;
  justify-content: center;
  
}

.my-profile__container {
  

  width: 100%;
}

.my-profile__header {
}



.my-profile__header p {
  font-size: 32px;
  text-align: center;
}

.my-profile__info {
  padding: 36px;
}

.my-profile__user {
  display: flex;
  justify-content: space-between;
}

.my-profile__value {
  color: black
}



