.header {
  display: flex;
  align-items: center;
  padding: 32px 0px 28px;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0%;
}

.header__logo {
  margin-right: 24px;
}

.header__location-date {
  margin: 0;
  line-height: 24px;
}

.header__button {
  cursor: pointer;
  line-height: 24px;
  border: none;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  letter-spacing: 0%;
}

.header__user-container {
  display: flex;
  align-items: center;
}
.header__sign-up {
  margin: 0 0 0 20px;
  color: black;
  text-transform: capitalize;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  border: none;
}
.header__sign-in {
  margin-left: 12px;
  line-height: 100%;
  color: black;
  text-transform: capitalize;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  letter-spacing: 0%;
  border: none;
}
.header__user-container__link {
  text-decoration: none;
  color: black;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__login {
  text-decoration: none;
}
.header__avatar-img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}
