.side-bar{
  display: flex;
  flex-direction: column;
  
}
.side-bar__header {
  display: flex;
  gap: 16px;
}
.side-bar__avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}
.side-bar__avatar-name {
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
  width: 157px;
  text-transform: capitalize;
}

.side-bar__buttons{
  display: flex;
  flex-direction: column;
}
.side-bar__button-change{
  margin-top: 16px;
  margin-bottom: 16px;
   font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
  border: none;
  background-color: none;
}

.side-bar__button-logout{
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
   border: none;
  background-color: none;
}
