.footer{

}
.footer__container{

}
.footer__text{
margin-top: auto;
margin-bottom: 24px;
font-family: Cabinet Grotesk;
font-weight: 500;
font-size: 16px;
line-height: 20px;
letter-spacing: 0%;
vertical-align: bottom;

}