.clothes{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.clothes__heading{
  display: flex;
  gap: 20px;
}

.clothes__items{
display: flex;
flex-wrap: wrap;
gap: 20px;
margin: 0;
padding: 0;
}